.sale-50 {
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(244,244,244,1) 100%);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    img {
        display: none;
    }
    .sale-text {
        text-align: center;
        h1 {
            font-size: $font-size-65;
            font-weight: $font-weight-extrabold;
        }
        p {
            font-size: $font-size-20;
        }
        button {
            margin-bottom: 20px;
            width: 200px;
        }
    }
}

@media (min-width: 968px) {
    .sale-50 {
        img {
            display: inline-block;
            width: 30%;

        }
    }
}


