$color-white: #FFFFFF;
$color-light-red: #CAC0BE;
$color-red: #FF7373;
$color-red-hover: #DE6161;
$color-brown: #75695C;
$color-dark: #23262A;
$color-shadow: rgba(35, 38, 42, 0.253);
$color-dark-hover: #33373b;
$color-dark-text: #222529;
$color-grey-10: #7E7F80;
$color-grey-20: #BBBBBB;
$color-grey-30: #CDCED0;
$color-grey-40: #D9D9D9;
$color-grey-50: #E9E9E9;
$color-grey-60: #E7E7E7;
$color-grey-70: #EEEEEE;
$color-grey-80: #F5F5F5;
$color-grey-90: #F8F8F8;

$font-poppins: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-size-13: 0.813rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-35: 2.188rem;
$font-size-45: 2.813rem;
$font-size-65: 4.063rem;

$border-radius-rounded: 50%;

$max-width: 1680px;